<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <main class="w-full h-screen bg-zinc-100 font-['Helvetica']">
        <nav class="flex px-10 justify-between py-5">
            <h3 class="text-2xl tracking-tight">Khaatabook</h3>
            <div class="navlinks flex gap-5">
                <a class="tracking-tight" href="/">Home</a>
                <a class="tracking-tight" href="/create">Create New Hisaab</a>
            </div>
        </nav>
        <div class="px-10 hisaabs">
            <h3 class="capitalize text-2xl font-medium mb-5 mt-10 tracking-tight">create new hisaab</h3>
            <form class="" action="/createhisaab" method="post">
                <input name="title" class="text-md px-3 py-2 w-1/2 mb-5 rounded-md bg-zinc-200" type="text"
                    placeholder="Shopping ka hisaab, ghar ka kharch...">
                <textarea name="content" class="block w-1/2 px-3 py-2 resize-none bg-zinc-200 rounded-md min-h-96"
                    placeholder="write your hisaab." name=""></textarea>
                <input type="submit" class="block mt-5 px-5 py-3 bg-blue-500 text-white rounded-md"
                    value="Create Hisaab">
            </form>
        </div>
    </main>
</body>

</html>